---
import Layout from "@layouts/Layout.astro"
import { allPlaylists } from "@lib/data.ts"


const {id} = Astro.params

const playlist = allPlaylists.find(playlist => playlist.id === id)
---

<Layout title="Catálogo Digital">
  <div id="container_catalog" class="relative transition-all duration-100 overflow-y-scroll bg-gray-100 
    max-w-screen-xl h-full items-center justify-center mx-auto "
    transition:name=`playlist ${id} box`>
    <header class="flex flex-row gap-6 p-4 mt-10">
      <picture class="aspect-square w-52 flex-none">
        <img src={playlist?.cover} alt={playlist?.title} 
          class="object-cover w-full h-full shadow-lg" 
          transition:name=`playlist ${playlist?.id} image`/>
      </picture>
      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end">PlayList</h2>
        <div>
          <h1 class="line-clamp-1 text-5xl font-bold block">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
        </div>
        <div class="flex-1 flex items-end">
          <div class="text-sm  font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
                <span class="text-black">$30</span>
            </p>
          </div>
        </div>

      </div>
    </header>
  </div>
</Layout>
