---
import { type Playlist } from "@lib/data"
import { CardBuyButton } from "./CardBuyButton"

interface Props {
  playlist: Playlist
}

const { playlist } = Astro.props
const {id, image, title, category, price} = playlist

---
<article class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md 
  transition-all duration-300">
  <div class=`absolute right-3 bottom-24 translate-y-0 z-10` >
    <CardBuyButton id={id} client:load/>
  </div>
  <a href={`/playlist/${id}`} 
    class="transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6
      w-44 flex-col"
    transition:name=`playlist ${id} box`
    >
    <picture class="aspect-square w-full h-auto flex-none">
      <img src={image} alt={title} 
      class="object-cover w-full h-full rounded-md" 
      transition:name=`playlist ${id} image`/>
    </picture>
    <div class="flex flex-auto flex-col text-white px-2">
      <h4 class="font-bold text-sm"
      transition:name=`playlist ${id} title`
      >{title}</h4>
      <span class="text-gray-460"
      transition:name=`playlist ${id} category`
      >{category}</span>
    </div>
  </a>
</article>