---
import { type Productlist } from "@lib/data"
import { CardBuyButton } from "./CardBuyButton"

interface Props {
  productlist: Productlist
}

const { productlist } = Astro.props
const {id, image, title, category, price} = productlist

---
<article class="relative shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md 
  transition-all duration-300 hover:scale-110 ">
  <div class=`absolute right-3  top-2 z-10` >
    <CardBuyButton product={productlist} client:load/>
  </div>
  <a href={`/product/${id}`} 
    class="transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6
      w-44 flex-col  h-full "
    transition:name=`productlist ${id} box`
    >
    <picture class="aspect-square w-full h-60 flex-none">
      <img src={image} alt={title} 
      class="object-cover w-full h-full rounded-md" 
      transition:name=`productlist ${id} image`/>
    </picture>
    <div class="flex flex-auto flex-col px-2">
      <h4 class="font-bold text-sm"
      transition:name=`productlist ${id} title`
      >{title}</h4>
      <span class="capitalize" transition:name=`productlist ${id} category`
      >{category}</span>
      <span class=" font-bold"
      transition:name=`productlist ${id} price` >${price}</span>
    </div>
  </a>
</article>